<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>iSpect</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= BASE_URL %>assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= BASE_URL %>assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= BASE_URL %>assets/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="<%= BASE_URL %>assets/safari-pinned-tab.svg"
      color="#1372ba"
    />
    <meta name="msapplication-TileColor" content="#1372ba" />
    <meta name="theme-color" content="#1372ba" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
    />
  </head>

  <body style="text-align: left; float: left;">
    Hej! Ni använder en gammal webbläsare.
    <br />
    För att kunna leverera en säker och stabil upplevelse kräver
    Besiktningsportalen en modern webbläsare så som Chrome, Safari, Firefox
    eller Microsoft Edge.
    <hr />

    <div>
      Du kan t.ex.
      <a href="https://google.com/chrome">
        <button
          style="background-color:rgb(84, 105, 212);box-shadow:
rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;min-height: 32px;max-width: 100%;padding: 12px;
color:#fff;font-size: 14px;font-weight: 600;text-decoration: none;vertical-align: middle;word-break: keep-all;border-radius: 4px;border: 0;outline: 0;transition: color 240ms;
min-width: 200px;"
        >
          Ladda ner Chrome här
        </button>
      </a>
    </div>
    <noscript>
      <strong
        >We're sorry but this web page doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
  </body>
</html>
