.card
  &__title
    padding: 1rem

    &--primary
      padding-top: 1.5rem

  &__text
    padding: 1rem

.toolbar
  &__title
    margin-left: 1rem

  &--fixed
    z-index: 5;

.footer
  &--inset
    z-index: 4;

.d-flex-auto-width
  display: flex;
  flex-grow: 1;
  flex-basis: 0;

  & > *
    flex: 1 1 auto !important;

.content-vertical-center > *
  flex-direction: column;
  justify-content: center;
  display: flex;

.text-decoration-none
  text-decoration: none;

.vertical-align-middle
  vertical-align: middle;

.material-icons-notready .material-icons
  font-size: 2.5rem !important;
